# Xcode
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate

# SwiftPM
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.profdata

# Environment
.env
